---
---
// PLUGINS
@import           'bourbon/bourbon';
@import           'jeet/index';
@import           'base/mediaqueries';
// MIXINS
@import           'mixins/mixins';
// EXTEND
@import           'extend/placeholders';
// SETTINGS
@import           'settings/variables';

$project-folder:  '21stamendment';
$client:          '21a';

.introduction {
  font-size:$h3;
}

.profile {
  background-color:black;
  padding:5em;
}