//
//
// MEDIA QUERIES
//
$res-collection:                      (320, 480, 768, 1024, 1280, 1680);
$orientation-collection:              (all, portrait, landscape);
// Breakpoints
$breakpoints: (small: 320px, medium: 680px, large: 1000px, x-large: 1600px);
//
//
// TYPOGRAPHY
//
// Families
$font-family:                         "franklin-gothic";
$heading-font-family:                 "franklin-gothic";
$secondary-font-family:               "franklin-gothic", helvetica;
// Sizes
$font-size:                           1.0em;

$font-xsmall:                         0.8em;
$font-small:                          1.0em;
$font-medium:                         1.2em;
$font-large:                          1.7em;
$font-xlarge:                         2em;

$h1:                                  5em;
$h2:                                  3em;
$h3:                                  1.5em;
$h4:                                  1.0em;
$h5:                                  0.8em;
$h6:                                  0.7em;
// Weights
$font-light:                          100;
$font-bold:                           800;
// Line Height
$base-line-height:                    1.5em; // 1.5em default
$heading-line-height:                 1.6em;
// Letter Spacing
$letter-spacing-base:                 0.1em; // 1.5em default
$letter-spacing-small:                0.1em;
$letter-spacing-medium:               0.2em;
$letter-spacing-large:                0.3em;
//
//
// SPACING
//
$spacing-base:                        2.7em;
$spacing-xlarge:                      $spacing-base*2;
$spacing-large:                       1.7em;
$spacing-medium:                      $spacing-base/2;
$spacing-small:                       $spacing-base/3;
$spacing-xsmall:                      $spacing-base/10;

//
//
// COLORS
//
$black:             rgb(40,38,52);
$silver:            rgb(161,166,170);
$cream:             rgb(249,235,196);
$white:             rgb(255,255,255);
// Secondary
$red:               rgb(255,78,68);
$rose:              rgb(222,117,113);
$pinkrose:          rgb(255,179,145);
// Tertiary
$redlay:            rgb(189,146,139);
// Color Lists Mixin
$colors: (
  $black 'black',
  $silver 'silver',
  $cream 'cream',
  $white 'white',
  $red 'red',
  $rose 'rose',
  $pinkrose 'pinkrose',
  $redlay 'redlay',
);
// Base Colors
$primary:                             $black;
$secondary:                           white;
$tertiary:                            $red;
// Form Placeholder Colors
$placeholder-color:                   $white;
// Font Colors
$base-font-color:                     $primary;
$heading-font-color:                  $base-font-color;
$action-color:                        $red;
// Border
$base-border-color:                   $secondary;
$base-border:                         1px solid $base-border-color;
// Background Colors
$base-background-color:               $secondary;
$secondary-background-color:          tint($base-border-color, 75%);
//
//
// ASSETS
//
$font-assetpath:                      "/assets/fonts/";
$img-assetpath:                       "/images/";
