//
//
// GRID
//
$jeet: (
  gutter:                             4,
  max-width:                          100%,
);
//
//
// BREAKPOINTS
//
$breakpoints:                         (small: 320px, medium: 680px, large: 1000px, x-large: 1600px);
//
//
// MARGINS
//
$site-margin:                         60px;
$site-mobile-margin:                  30px;
//
//
// TYPOGRAPHY
//
$base-font-family:                    "franklin-gothic", $font-stack-system;
$heading-font-family:                 $base-font-family;
// SIZE
$base-font-size:                      1em;
// LINE-HEIGHT
$base-line-height:                    1.5;
$heading-line-height:                 1.2;
//
//
// OTHER SIZES
//
$base-border-radius:                  3px;
$base-spacing:                        $base-line-height * 1em;
$large-spacing:                       $base-spacing * 2;
$medium-spacing:                      $base-spacing / 2;
$small-spacing:                       $base-spacing / 8;
$base-z-index:                        0;
//
//
// COLORS
//
$black:                               rgb(0,0,0);
$dark-grey:                           rgb(65,65,65);
$grey:                                rgb(120,120,120);
$light-grey:                          rgb(200,200,200);
$yellow:                              yellow;
$blue:                                rgb(102,102,102);
// Base Colors
$primary:                             $black;
$secondary:                           white;
$tertiary:                            $light-grey;
// Form Placeholder Colors
$placeholder-color: $dark-gray;
// Font Colors
$base-font-color:                     $secondary;
$action-color:                        $test;
// Border
$base-border-color:                   $light-gray;
$base-border:                         1px solid $base-border-color;
// Background Colors
$base-background-color:               $primary;
$secondary-background-color:          tint($base-border-color, 75%);
//
//
// FORMS
//
$form-box-shadow:                     inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus:               $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);
//
//
// ANIMATIONS
//
$base-duration:                       150ms;
$base-timing:                         ease;
//
//
// ASSET PATHS
//
$font-assetpath:                      "/fonts/";
$image-assetpath:                     "/images/";
