@mixin navigation-horizontal($a-width: false, $a-padding: false) {
  ul {
    float:left;
    width:100%;
    padding:0;
    margin:0;
    list-style-type:none;
  }
  a {
    float: left;
    @if not $a-width {
    } @else {
      width: $a-width;
    }
    @if not $a-padding {
    } @else {
      padding:$a-padding;
    }
  }
  li {
      display: inline;
  }
}

@mixin background-image($img-name, $repeat:no-repeat, $x:0px, $y:0px) {
  background:url(#{$img-assetpath}#{$img-name}) $repeat $y $x;
}