<header class="masthead">
  <nav class="navigation">
    <ul>
      <li>
        <h1 class="logo">
          <a href="{{ "/" | prepend: site.baseurl }}" class="site-title">
            {{ site.title }}
          </a>
        </h1>
      </li>
      <li>
        <a href="">Work</a>
      </li>
    </ul>
  </nav>
  
  <aside class="information">
    <span class="subtitle">
      {{ site.subtitle }}
    </span>
    <span class="address">
      <a href="mailto:ben@benjaminkinzer.com">
        ben@benjaminkinzer.com
      </a>
      +1.541.610.8948
    </span>
    {% if site.show_social %}
      {% include social.html %}
    {% endif %}
  </aside>
</header>