<div class="contents">
  <div class="posts">
    {% for post in site.posts %}
      <div class="post">
        <header class="post-header">
          <h3 class="post-title">{{ post.title }}</h3>
          <h4 class="post-subtitle">{{ post.subtitle }}</h4>
        </header>
        {% if post.thumbnail %}
        <a class="smiley" href="{{ post.url | prepend: site.baseurl }}"><img src="{{ "/images/" | prepend: site.baseurl }}{{ post.thumbnail }}"></a>
        {% endif %}
      </div>
    {% endfor %}
  </div>
  <!-- <aside class="favorites">
    <h2>Summer Wine</h2>
    <ul>
      <li><img src="http://placehold.it/350x150"></li>
      <li>J Vineyards Winery</li>
      <li>Chardonney</li>
      <li><span class="vintage">Vintage</span> 2010</li>
      <li>Description of the wine</li>
    </ul>
    <h2>Music</h2>
    <ul>
      <li><img src="http://placehold.it/350x150"></li>
      <li><strong>Artists</strong></li>
      <li>Artist Name</li>
      <li>Artist Name</li>
      <li>Artist Name</li>
      <li>Artist Name</li>
      <li>Artist Name</li>
      <li>Artist Name</li>
      <li>Description of the music</li>
    </ul>
  </aside> -->
</div>