---
layout: default
---
<div class="page">
  <article class="page-content">
  {{ content }}
  </article>
  <div class="side-note">

    <ul class="contact-information">
      <h3>Contact</h3>
      <li>+1.541.610.8948</li>
      <li>ben <sup>at</sup> benjaminkinzer <sup>dot</sup> com</li>
      <li><strong>twitter</strong> <a href="https://twitter.com/benjaminkinzer/">@benjaminkinzer</a></li>
      <li><strong>instagram</strong> <a href="https://instagram.com/benjaminkinzer/">@benjaminkinzer</a></li>
      <li><strong>github</strong> <a href="https://github.com/kungfukoala">@kungfukoala</a></li>
      <li><a href="https://www.linkedin.com/in/benjaminkinzer">LinkedIn</a></li>
      <li><small>Illustration by Soojeong Gwon</small></li>
    </ul>

  </div>

</div>