html, body {
  height:100%;
}  
body {
  @include font-feature-settings("kern", "liga", "pnum");
  -webkit-font-smoothing:antialiased;
  color:$font-color;
  font-family:$font-family;
  font-size:$font-size;
}
.container {
  @include center(1440px, $pad: 10px);
  margin-bottom:$spacing-xlarge;
  @include screen(nth($res-collection, 2)*1px, nth($res-collection, 6)*1px) {
    @include center(1440px, $pad: 30px);
  }
  @include min-screen(nth($res-collection, 6)*1px) {
    @include center(1440px, $pad: 0px);
  }
}

.footer {
  @include col(1/1);
}