.project {
  width:100%;
  padding:$spacing-large 0;
  .feature-image {
    height:700px;
    background-size:60%;
    background-repeat:no-repeat;
    background-position:center;
  }
  .project-title {
    font-size:5em;
    line-height:0.8em;
    margin:0px;
    text-transform:uppercase;
    // iPhone 6 Plus down, and iPhone 4 Lanscape down
    @include max-screen(nth($res-collection, 2)*1px) {
      font-size:2.5em;
    }
  }
  .project-subtitle {
    font-size:1.0em;
    margin:0px;
  }
  .project-header {
    @include col(1/3);
  }
  .project-content {
    width:100%;
  }
  p {
    font-size:$font-large;
    padding:$spacing-large 25% $spacing-large 0;
    // iPhone 6 Plus down, and iPhone 4 Lanscape down
    @include max-screen(nth($res-collection, 2)*1px) {
      font-size:$font-medium;
      padding:$spacing-medium $spacing-small $spacing-medium $spacing-small;
    }
  }
  .project-footer {
    @include col(1/1);
    margin-top:$spacing-xlarge;
    padding:$spacing-small 0 $spacing-large 0;
    border-top:1px solid $silver;
    text-align:center;
    strong {
      font-size:$font-xsmall;
      text-transform:uppercase;
      letter-spacing:$letter-spacing-base;
    }
    li {
      padding-bottom:$spacing-small;
    }
    @include min-screen(nth($res-collection, 2)*1px) {
      @include col(4/8);
    }
  }
  .project-footer {
    @include col(1/1);
    margin:$spacing-xlarge 0;
  }
  .project-date {
    color:$silver;
  }
  .note {
    @include col(1/12);
    font-size:1.0em;
    text-transform:uppercase;
    padding:$spacing-medium 0;
    background-color:white;
  }
}