.stream {
  .post {
    border-top: 5px solid black;
    padding-top: $spacing-large;
  }
  .post-header {
    @include column(2/8);
  }
  .post-body {
    font-size: $font-medium;
    @include column(6/8);
  }
}
