a, a:visited {
  color:$primary;
}
a:hover {
  border-top:1px solid $tertiary;
}
ul {
  padding:0;
  li {
    @extend .icon-angle-right;
    list-style-type:none;
  }
}
h1, .h1 {
  font-size:$h1;
}
h2, .h2 {
  font-size:$h2;
}
h3, .h3 {
  font-size:$h3;
}
h4, .h4 {
  font-size:$h4;
}
h5, .h5 {
  font-size:$h5;
}
h6, .h6 {
  font-size:$h6;
}
