.footer {
  height:150px;
  color:white;
  background-color:$primary;
  .legal {
    padding:$spacing-medium;
  }
  .contact {
    padding:$spacing-medium;
  }
  .social {
    padding:$spacing-medium;
  }
}