---
layout: default
---
<div class="page">
  <div class="side-note">
    {% if page.profile-image %}
    <div class="profile-image">
      <img src="{{site.baseurl}}/{{page.profile-image}}" alt="{{page.profile-image-alt}}">
    </div>
    {% endif %}
    <ul class="contact-information">
      <li>Portland &amp; Bend</li>
      <li>+1.541.610.8948</li>
      <li>iam@benjaminkinzer.com</li>
      <li>@benjaminkinzer</li>
      <li>@kungfukoala</li>
    </ul>
  </div>
  <article class="page-content">
  {{ content }}
  </article>
</div>